/* 
	Reset
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


/* 
	Global
*/

body {
	background: url(light_toast.png) repeat;
	font-family: "raleway",sans-serif;
	font-size: 100%;
	margin: 0;
	text-align: center;
}

body:hover {
	background: url('http://farm5.staticflickr.com/4019/5148730914_616e1b5975_o.jpg') -100px;
	-webkit-transition:background .5s ease-in;  
	-moz-transition:background .5s ease-in;  
	-o-transition:background .5s ease-in;  
	transition:background .5s ease-in;  
}

body:hover h1 {color: #fff;}
body:hover article#exports {
	background: #000; opacity: 0.75;
	-webkit-transition:background-color .5s ease-in;  
	-moz-transition:background-color .5s ease-in;  
	-o-transition:background-color .5s ease-in;  
	transition:background-color .5s ease-in;  
}

h1 {font-size: 68px; color: #666;}
h2 {font-size: 40px;}

#China {color: #C1272D;}
#India {color: #662D91;}


/* 
	Bits
*/

div.container {margin: 0 auto; width: 960px;}

article#exports > header {
    padding: 48px 0 0 0;
    text-align: left;
    width: 357px;
}

article#exports {
	width: 96%;
	padding: 2%;
	float: left;
}

article#exports section header {
	padding: 84px 0 24px 0;
	float: left;
}

article#exports section header h2 {
	text-align: left;
}

article#exports section header:first-child h2 {
	text-align: right;
	width: 405px;
	padding-right: 150px;
}







