/* Reset */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


/* Global */

body {
	background: url(light_toast.png) repeat;
	font-size: 100%;
	margin: 0;
	text-align: center;
	font-family: ff-meta-serif-web-pro;
}

h1 {font-size: 68px; color: #666; line-height: .95; font-weight: 300; letter-spacing: -2px;}
h2 {font-size: 42px; font-weight: 300;}
h3 {font-size: 15px; line-height: 15px; font-weight: normal; color: #666; margin: 5px 0 20px 0;}

div.container {margin: 0 auto; width: 906px;}

article#exports > header {padding: 36px 0 0 0; text-align: left; width: 365px;}


/* Chart Container */

article#exports {width: 100%; padding: 20px; float: left;}

article#exports section header {padding: 84px 0 24px 0;}
article#exports .chart1 header h2 {text-align: right;}
article#exports .chart2 header h2 {text-align: left;}

article#exports .chart1, .commodityLabel, .chart2 {float: left;}

article#exports .commodityLabel {width: 150px; padding: 0 10px; text-align: center;}


/* Bar Styling */

.bars div {
	font-size: 15px;
	line-height: 15px;
	padding: 5px 5px 3px;
	margin: 0 0 12px 0;
	color: white;
	clear: both;
}

.bars.first div {
	text-align: left;
	float: right;
}

.bars.second div {
	text-align: right;
	float: left;
}


/* Country Colors */

#China h2 {color: #C1272D;}
#China .bars div {background-color: #C1272D;}

#India h2 {color: #662D91;}
#India .bars div {background-color: #662D91;}




