/* 
	Reset
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


/* 
	Global
*/

body {
	background: url(light_toast.png) repeat;
	font-family: "raleway",sans-serif;
	font-size: 100%;
	margin: 0;
	text-align: center;
}

h1 {font-size: 68px; color: #666;}
h2 {font-size: 40px;}

#China {color: #C1272D;}
#India {color: #662D91;}


/* 
	Bits
*/


#top {
	background: #662d91; /* Old browsers */
	/* IE9 SVG, needs conditional override of 'filter' to 'none' */
	background: -moz-linear-gradient(left,  #662d91 0%, #c1272d 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, right top, color-stop(0%,#662d91), color-stop(100%,#c1272d)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(left,  #662d91 0%,#c1272d 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(left,  #662d91 0%,#c1272d 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(left,  #662d91 0%,#c1272d 100%); /* IE10+ */
	background: linear-gradient(left,  #662d91 0%,#c1272d 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#662d91', endColorstr='#c1272d',GradientType=1 ); /* IE6-8 */
	height: 7px;
	margin-bottom: -1px;
	width: 100%;
	position: absolute;
	top: 0;
	z-index: 1;
}

div.container {margin: 0 auto; width: 860px;}

article#exports > header {
    padding: 36px 0 0 0;
    text-align: left;
    width: 365px;
}

article#exports {
	width: 96%;
	padding: 2%;
	float: left;
}

article#exports section header {
	padding: 84px 0 24px 0;
	float: left;
}

article#exports section header h2 {
	text-align: left;
}

article#exports section header:first-child h2 {
	text-align: right;
	width: 358px;
	padding-right: 147px;
}







